@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #111959;
}

.mask-contact {
  background: url('./assets/mask-top.svg') right top no-repeat,
    url('./assets/round1.svg') left top no-repeat,
    url('./assets/round2.svg') 7vw 30vh no-repeat;
}

.mask-top {
  background-image: url('./assets/mask-top.svg');
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
}

.mask-bottom {
  background-image: url('./assets/mask-top.svg');
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
}

.mask-hero {
  background: url('./assets/mask-top.svg') right top no-repeat;
  /* url('./assets/mask-left.svg') left bottom no-repeat; */
}

.mask-left {
  background-image: url('./assets/mask-left.svg');
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.property-right {
  background-image: url('./assets/mask-left.svg');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.mask-right {
  background-image: url('./assets/mask-right.svg');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 70vw;
}

.hero-btn {
  background: #ffc107;
  mix-blend-mode: normal;
  box-shadow: 15px 12px 24px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.hero-top {
  background: rgba(150, 150, 150, 0.25);
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  border-radius: 29px;
}

.hero-bottom {
  background: rgba(150, 150, 150, 0.14);
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14px);
  border-radius: 29px;
}

.glass {
  background: rgba(150, 150, 150, 0.25);
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  border-radius: 29px;
}

.glass-input {
  width: 100%;

  background: #ffffff;
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.glass-row {
  flex: 1;
  height: 46px;

  background: #ffffff;
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.whatsapp {
  background: rgba(150, 150, 150, 0.25);
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  border-radius: 29px;
}

.property {
  background: rgba(150, 150, 150, 0.25);
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  border-radius: 29px;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.section__padding {
  padding: 4rem 5rem;
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
}
